*{
    margin: 0;
    padding: 0;
}
header{
    background-color: black;
}
 #logo{
    border-radius: 50%;
    padding: 30px;
    width: 25px;
    margin: 15px 25px;
    
    background-color: grey;
}
nav > a{
text-decoration: none;
color: white;
padding-left: 5px;
padding-right: 5px;
}
nav{
    background-color: black;
    padding-left: 75rem;
    font-size: 1.3rem;
    padding-top: 5px;
    padding-bottom: 5px;
}
.head{
    text-align: center;
    font-size: 2rem;
    margin-top: 10px;
    
}
.para{
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
   
}
.img{
    display: flex;
    flex-direction: row;
   margin-top: 100px;
    align-items: center;
}
 .img2{
    margin-left: 290px;
 }